/************************** UNIVERSAL STYLE************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding: 0rem 6rem;
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --Grayis-blue: hsl(246, 25%, 77%);
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

::placeholder {
  padding-left: 7px;
  color: var(--Grayis-blue);
}

input {
  color: var(--dark-blue);
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  -moz-outline-radius: 5px;
  border: 1px solid lightgrey;
}



.input-error {
  border: 2px solid var(--red);
}

/* *************** ELEMENT STYLES***************** */

/* section one */
.sect-one {
  flex-basis: 46%;
  margin-top: 4.2rem;
  width: 100%;
  min-height: 100%;
}

.sect-one h1 {
  color: white;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 2.7rem;
}

.sect-one p {
  color: white;
  line-height: 1.6rem;
  width: 100%;
}

/* section two */

.sect-two {
  margin-top: 2rem;
  flex-basis: 50%;
  padding: 2rem;
  width: 100%;
}

.sect-two .first-p {
  background-color: var(--blue);
  color: white;
  border: none;
  box-shadow: 0px 3px 5px var(--dark-blue);
  padding: 7px 0;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 12px;
}

.sect-two .alt {
  color: rgb(199, 196, 196);
}

/* form */
.form {
  background-color: white;
  padding: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  min-height: 70vh;
  transition: all 1s ease;
  box-shadow: 0px 2px 3px rgb(130, 128, 128);
  position: relative;
}
.form input {
  position: relative;
}

.form input::after{
  content: '';
  position: absolute;
  top: 3rem;
  right: 2.7rem;
  width: 1.1rem;
  background: url(./images/icon-error.svg);
  background-size:cover ;
  z-index: 1000;
}
 
/* error */
.error {
  position: absolute;
  right: 2.7rem;
  width: 1.1rem;
  display: none;
}

.e-name {
  top: 2.6rem;
}

.e-ln {
  top: 7rem;
}
.e-em {
  top: 11.3rem;
}
.e-pw {
  top: 15.6rem;
}
/* *error */

/* **** p**** */

.form p {
  color: var(--red);
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  transition: all 0.4s ease;
}


.btn {
  width: 100%;
  background-color: var(--green);
  color: white;
  text-align: center;
  padding: 9px 0;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 11px;
  box-shadow: 0px 1px 3px var(--dark-blue);
  border-radius: 5px;
}

.form .last-p {
  text-align: center;
  width: 100%;
  font-size: 11px;
  color: var(--Grayis-blue);
}

.terms {
  color: var(--red);
}

/* *********************************** MEDIA QUERY FOR LAPTOP TO TABLET FORMAT*********************** */

@media screen and (min-width: 400px) and (max-width: 800px) {
  body {
    padding-top: 1rem;
    padding: 0 1rem;
  }
  .sect-two {
    padding: 0.2rem;
  }
}

/* ************************** MEDIA QUERY FOR MOBILE DEVICE******************** */

@media screen and (max-width: 600px) {
  body {
    padding-top: 0.8rem;
    padding: 0 1rem;
  }
  .flex-box {
    flex-direction: column;
  }
  .sect-one {
    padding: 0 13px;
    margin-top: 3.5rem;
  }
  .sect-one h1 {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .sect-one p {
    text-align: center;
  }

  /* section two */

  .sect-two {
    margin-top: 1.5rem;
    padding: 0.7rem;
  }
}
